
.circles{
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50% ;
}
.circles:nth-child(2n){
  background: var(--clr-primary);
}
.circles:nth-child(2n+1){
  background: var(--clr-accent);
}

































/******************************************************************************************************************/