.container{
  min-height: clamp(2rem,25vh,10rem);
  align-self: stretch ;
  display: flex;
 /* align-items: center;*/
  padding-inline: var(--margin-main);
  padding-block: 10px ;
  justify-content: space-around;
 /* background: hsla(0,12%,9.2%,0.999);*/
  background: var(--clr-primary);
  flex-direction: column;
  
}
.container > *{
  flex:1;
}
.column2{
  flex-direction: column;
  align-items: center;
}
.headings{
   padding: 0.2em;
   color: var(--clr-accent);
}
.paras{
  padding: 0.25em;
  opacity: 0.75;
  border-top: 1px solid var(--clr-accent);
   
  
}
.socialsContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 1em;
}
/*
.socialLinks * {
   color: var(--clr-accent);
   fill: var(--clr-accent);
  
}
*/
.emailAndPhoneContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.image{
  height: 100%;
  width: 100%;
}

.codeLinkContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex:1;
}
.codeLinkContainer p{
  padding: .5em;
}
.codeLink{
  background: var(--clr-accent);
  padding: 15% ;
  border-radius: 50% ;
}



@media (min-width:60em) { 
  .container{
    flex-direction: column;
  }
  .paras{
    border-top:  none;
    border-left: 10px solid var(--clr-accent);
    
    border-radius: 5px ;
  }
  .socialsContainer{
    order: -1;
  }
  .emailAndPhoneContainer{
    flex-direction: row;
    order: 1;
  }
}
































/******************************************************************************************************************/