.utilityButtonComponent{
  --glow-color : gold;
  padding-inline: 1.5em;
  padding-block: 0.5em;
  border-radius: 2px;
  border: 0;
 cursor: pointer;
}
.opacity{
  opacity: 0.5;
}
.bounce{
  transform: scale(1.05);
  box-shadow: 0px 5px 15px 1px rgba(0,0,0,0.446);
}
.glow{
  box-shadow: 0px 0px 5px var(--glow-color);
}
.invert{
  filter: hue-rotate(180deg);
}















































