
.container{
  min-height: 50vh ;
  flex:1;
  align-self: stretch ;
  display: flex;
  justify-content: center;
  align-items: center;
}


.imgContainer{
  aspect-ratio: 1/1;
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  transition: transform 5s ease;
  display: flex;
  align-items: center;
  
  animation:fadeIn 1.5s ease forwards;
  
  opacity: 0;
  /*
  border-radius: 50% ;
  border:  1px solid var(--clr-accent);
  */
}

.imgContainer:nth-child(2n){
  clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
  
}
.imgContainer:nth-child(2n+1){
  clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
  
}

.imgContainer{
  opacity: 1;
  animation: rotateCCW 60s linear infinite;
}
.images{
 /* border-radius: 50%;*/
  width : 100% ;
  position: absolute;
  animation:fadeIn 1.5s ease forwards;
  opacity: 0;
  
}

.centerSphere{
  height: 5rem;
  /*width: 5rem;*/
  /*flex: 1;*/
  position: relative;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: radial-gradient(var(--clr-accent),crimson);
  box-shadow: var(--box-shadow-candle);
  animation: rotateCW 60s linear infinite;
  
}



@keyframes rotateCW{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}
@keyframes rotateCCW{
  from{
    transform: rotate(360deg);
  }
  to{
    transform: rotate(0deg);
  }
}
@keyframes fadeIn {
  from{
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}




























