*,*::before,*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul{
  text-decoration: none;
}
li{
  text-decoration: none;
}
html{
  scroll-behavior: smooth;
}
/*
::-webkit-scrollbar {
  width: 50px;
}


::-webkit-scrollbar-track {
  background: green;
}

::-webkit-scrollbar-thumb {
  background: gold;
}


::-webkit-scrollbar-thumb:hover {
  background: #555;
}*/

.App {
  /*text-align: center;*/
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*background: var(--clr-accent);*/
  
}
:root{
  --opacity-accent :1 ;
  /*      MAIN COLOR    */
  --clr-primary: hsla(218.2,24.4%,8.8%,1) ;
  /* --clr-secondary: hsla(160.7,34.1%,66.1%,1) ;
  */--clr-secondary: rgb(103,181,255) ;
  --clr-accent: hsla(0,59.5%,49.4%,var(--opacity-accent)) ;
  --clr-text  : hsla(0,0%,91.4%,0.95) ;
  /*      GENERAL      */
  --margin-main : 5vw ;
  --box-shadow  : 0px 2px 5px rgba(0,0,0,0.454);
  --curve :  65px  ;
  /*      FONTS     */
  --ff-primary: 'Playfair Display', serif ;
  --ff-secondary: 'Poppins', sans-serif; 
  
  --fz-headings: clamp(1rem,8vw,2rem);
  --fz-paras: clamp(0.75rem,2.5vw,1rem);
  
  /*     BOX SHADOWS    */
  --box-shadow-candle : #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px, 5px 5px 15px 5px rgba(0,0,0,0);
  --box-shadow-pile : 5px 5px 0px 0px #289FED, 10px 10px 0px 0px #5FB8FF, 15px 15px 0px 0px #A1D8FF, 20px 20px 0px 0px #CAE6FF, 25px 25px 0px 0px #E1EEFF, 5px 5px 15px 5px rgba(0,0,0,0);
  
}

/**     GENERAL CLASSES    */
.primary{
  background: var(--clr-primary);
}
.secondary{
  background: var(--clr-secondary);
}
.accent{
  background: var(--clr-accent);
}
.text{
  color: var(--clr-text);
}


/*     GLOBAL STYLES   */
p{
  line-height: 1.6em ;
  font-family: var(--ff-secondary);
  font-size: var(--fz-paras);
  color: var(--clr-text);
}
h1,h2,h3,h4,h5,h6{
  font-family: var(--ff-primary);
  font-size: var(--fz-headings);
  color: var(--clr-text);
}

/*      GLOBAL UTILITY CLASSES AND ANIMATION   */
.absFill {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.onHover_bounce{
  transition-duration: 0.5s;
  transition-property: opacity scale;
}
.onHover_bounce:hover,.onHover_bounce:focus{
  opacity: 0.5;
  transform: scale(1.15);
}
.fadeIn_bottom{ 
  animation: fadeinBottom 1s ease forwards; 
}
.fadeIn_center{ 
  animation: fadeInCenter 1s ease forwards; 
}
.clip_bottom{
  animation: clipBottom 1s ease forwards;
}
/*       Animations        */
@keyframes clipBottom{
  0%{
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  
  }
  100%{
    clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
  }
}
@keyframes fadeInCenter {
  0%{
    clip-path: circle(0% at 50% 50%);
    opacity: 0.7;
  }
  100%{
    clip-path: circle(50% at 50% 50%);
    opacity: 1 ;
  }
}
@keyframes fadeinBottom {
  0%{
    transform: translateY(35%); 
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
    opacity: 0.7;
  }
  100%{
    transform: translateY(0%); 
    clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
    opacity: 1 ;
  }
}

.tempNav{
  backdrop-filter: invert(100%);
  background: green;
}
.fallbackUI{
  min-height: 100vh ;
  min-width: 100vw;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
